@import url('../../base.less');

.r-preview {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &-slot {
    display: block;
  }
}
:host {
  cursor: pointer;
  display: block;
  position: relative;
}

.r-preview-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
  .r-preview-loading {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-flow: column;
    align-items: center;
    &-text {
      color: #fff;
      font-size: 16px;
    }
  }
  .r-preview-options {
    width: 100%;
    pointer-events: auto;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: space-between;

    &-close {
      margin: 14px;
      border: none;
      cursor: pointer;
      transition: all 0.3s;
      user-select: none;
    }
  }
  .r-preview-contain {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    .r-preview-context {
      margin: 0 auto;
      height:100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      overflow: auto;
    }
    .r-preview-context-pdf {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      overflow: auto;
    }
  }
}
